In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as py
import time
from datetime import datetime
from sqlalchemy import create_engine
from sqlalchemy import create_engine

In [7]:
covid_file = "CSV/covid_us_county.csv"
population_file="CSV/US_population.csv"

covid_df = pd.read_csv(covid_file)

population_df=pd.read_csv(population_file)

covid_df.head()

,fips,county,state,lat,long,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0

In [8]:
population_df.head()

           State   Population
0  United States  328,239,523
1        Alabama    4,903,185
2         Alaska      731,545
3        Arizona    7,278,717
4       Arkansas    3,017,804

In [9]:
#Calculating the avrage rate of infection for each state
case = covid_df.groupby(["state"]).max()["cases"]
mean_state=covid_df.groupby(["state"]).mean()["cases"]

covid_by_state=pd.DataFrame({"Cases":case,
                             "Mean" :mean_state}).reset_index()
covid_by_state

                       state    Cases          Mean
0                    Alabama    83039   3587.029276
1                     Alaska    32413    874.319037
2             American Samoa        0      0.000000
3                    Arizona   573082  23094.614915
4                   Arkansas    44983   2001.059092
5                 California  1276254  27537.130389
6                   Colorado    75412   3331.617100
7                Connecticut   101119  14530.079781
8                   Delaware    65530   8946.099818
9           Diamond Princess       49     44.080146
10      District of Columbia    49973   7645.292046
11                   Florida   533821  14784.461551
12                   Georgia   104836   3118.744595
13            Grand Princess      103     91.163934
14                      Guam     8501   4066.635701
15                    Hawaii    29333   2255.389539
16                     Idaho    54649   1869.651818
17                  Illinois   561168   5948.135526
18                   Indiana   104970   3416.759001
19                      Iowa    58891   1705.251565
20                    Kansas    61987   1312.727338
21                  Kentucky    84173   1549.541103
22                 Louisiana    50084   3455.198322
23                     Maine    17400   1273.068610
24                  Maryland    86175   7928.063752
25             Massachusetts   136324  17692.140148
26                  Michigan   167250   4351.098800
27                 Minnesota   126249   2850.735535
28               Mississippi    22901   1770.382622
29                  Missouri   105603   2318.069016
30                   Montana    18348    825.462911
31                  Nebraska    71755   1070.415281
32                    Nevada   273860   7710.845844
33             New Hampshire    36590   3028.955981
34                New Jersey   105835  19032.171379
35                New Mexico    60017   2520.016862
36                  New York   284750  14159.623577
37            North Carolina   116949   4110.567002
38              North Dakota    24854    925.549627
39  Northern Mariana Islands      183     87.395264
40                      Ohio   130071   5083.440275
41                  Oklahoma    88919   2486.946923
42                    Oregon    41288   2100.854089
43              Pennsylvania   155859   6878.735593
44               Puerto Rico    18780    664.103165
45              Rhode Island    99884   9130.723393
46            South Carolina    76419   5241.508121
47              South Dakota    31851    834.806172
48                 Tennessee   101819   3920.487071
49                     Texas   411554   5101.147143
50                      Utah   157373   4818.873037
51                   Vermont     7641    507.333903
52            Virgin Islands     4336   1526.236794
53                  Virginia    77838   2106.294907
54                Washington   115189   4394.615665
55             West Virginia    15594   1079.638449
56                 Wisconsin   119166   4118.084010
57                   Wyoming    11338   1031.054936

In [11]:
# merged twp data set

merge_df = pd.merge(covid_by_state , population_df, on="state")

merge_df["Infection Rate"]=(merge_df["Cases"]/merge_df["Population"]*100)
merge_df=merge_df.sort_values('Infection Rate', ascending=False)
merge_df                        
#merge_df.to_csv("../CSV/Infection_rate.csv" )

KeyError: 'state'

In [ ]:
#calculating the top ten states in term of infection rate
Ten_top=merge_df.nlargest(10,"Infection Rate")
Ten_top

In [ ]:
#grouping  by month 

covid_df.index = pd.to_datetime(covid_df['date'])
                                #format='%y-%m-%d %I:%M%p')
covid_df.groupby(by=[covid_df.index.month, covid_df.index.year])
covid_df.head()

In [12]:
#seprating date value from yyyy-mm-dd to seprate columns
covid_df['day'] = covid_df.index.day
covid_df['month'] = covid_df.index.month
covid_df['year'] = covid_df.index.year
covid_df

,fips,county,state,lat,long,date,cases,state_code,deaths,day,month,year
date,,,,,,,,,,,,
2020-01-22,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0,22,1,2020
2020-01-23,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0,23,1,2020
2020-01-24,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0,24,1,2020
2020-01-25,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0,25,1,2020
2020-01-26,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0,26,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-18,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-07-18,664,WY,6,18,7,2021
2021-07-19,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-07-19,665,WY,6,19,7,2021
2021-07-21,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-07-21,669,WY,6,21,7,2021
2021-07-22,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-07-22,670,WY,6,22,7,2021
2021-07-23,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-07-23,672,WY,6,23,7,2021

In [13]:
#monitoring the rate of infection in 4 randomly chosen states during 2020
States_df=covid_df.loc[(covid_df["state"]=="Florida")|(covid_df["state"]=="Indiana")|(covid_df["state"]=="Wisconsin")|(covid_df["state"]=="Louisiana")]
cases=States_df.groupby(["year","month","state"]).max()["cases"]

unimpacted_states=pd.DataFrame({
                            "Infection Rate":cases,
                            }).reset_index()
unimpacted_states.drop(unimpacted_states[unimpacted_states['year'] == 2021].index, inplace = True)
unimpacted_states["month"].replace({1: "January",2: "February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"}, inplace=True)

unimpacted_states

    year      month      state  Infection Rate
0   2020    January    Florida               0
1   2020    January    Indiana               0
2   2020    January  Louisiana               0
3   2020    January  Wisconsin               0
4   2020   February    Florida               0
5   2020   February    Indiana               0
6   2020   February  Louisiana               0
7   2020   February  Wisconsin               0
8   2020      March    Florida            2123
9   2020      March    Indiana             964
10  2020      March  Louisiana            1834
11  2020      March  Wisconsin             710
12  2020      April    Florida           12063
13  2020      April    Indiana            5530
14  2020      April  Louisiana            6452
15  2020      April  Wisconsin            2940
16  2020        May    Florida           18000
17  2020        May    Indiana            9853
18  2020        May  Louisiana            7584
19  2020        May  Wisconsin            7750
20  2020       June    Florida           36820
21  2020       June    Indiana           11329
22  2020       June  Louisiana            9489
23  2020       June  Wisconsin           11358
24  2020       July    Florida          118462
25  2020       July    Indiana           14432
26  2020       July  Louisiana           14155
27  2020       July  Wisconsin           19248
28  2020     August    Florida          156910
29  2020     August    Indiana           18466
30  2020     August  Louisiana           16461
31  2020     August  Wisconsin           24079
32  2020  September    Florida          170400
33  2020  September    Indiana           21671
34  2020  September  Louisiana           17633
35  2020  September  Wisconsin           29149
36  2020    October    Florida          185891
37  2020    October    Indiana           27455
38  2020    October  Louisiana           18785
39  2020    October  Wisconsin           45652
40  2020   November    Florida          229618
41  2020   November    Indiana           46131
42  2020   November  Louisiana           22609
43  2020   November  Wisconsin           73097
44  2020   December    Florida          298873
45  2020   December    Indiana           70610
46  2020   December  Louisiana           31498
47  2020   December  Wisconsin           91624

### Create database connection

In [3]:
connection_string = "postgres:postgres@localhost:5432/Infection_Rate"
engine = create_engine(f'postgresql://{connection_string}')

In [4]:
engine.table_names()

<ipython-input-4-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['statepopulation', 'monthlystateinfect']

### Load DataFrames into database

In [5]:
merge_df.to_sql(name='statepopulation', con=engine, if_exists='append', index=True)

NameError: name 'merge_df' is not defined